.logo
{
    justify-content: center;
    position: relative;
    display: flex;
    animation: entrada-logo 1s;
    animation-fill-mode: forwards;
}
.logo img {
    position: absolute;
    justify-content: center;
    display: flex;
    transition: all 0.3s ease-out;
}

@keyframes entrada-logo {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  
  .logo:hover img {
    transform: scale(1.1);
  }